TVprogram.Entities/Context.cs
TVprogram.Entities/TVprogram.Entities.csproj
TVprogram.Entities/Models/Admin.cs
TVprogram.Entities/Models/BaseEntity.cs
TVprogram.Entities/Models/Channel.cs
TVprogram.Entities/Models/Programa.cs
TVprogram.Entities/Models/User.cs
TVprogram.Entities/Models/Users_Channel_list.cs
TVprogram.Entities/obj/project.assets.json
TVprogram.Entities/obj/project.nuget.cache
TVprogram.Entities/obj/TVprogram.Entities.csproj.nuget.dgspec.json
TVprogram.Entities/obj/TVprogram.Entities.csproj.nuget.g.props
TVprogram.Entities/obj/TVprogram.Entities.csproj.nuget.g.targets
TVprogram.Entities/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TVprogram.Entities/obj/Debug/net6.0/project.razor.json
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.AssemblyInfo.cs
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.AssemblyInfoInputs.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.assets.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.csproj.AssemblyReference.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.csproj.CoreCompileInputs.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.csproj.FileListAbsolute.txt
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.GeneratedMSBuildEditorConfig.editorconfig
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.GlobalUsings.g.cs
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.MvcApplicationPartsAssemblyInfo.cache
TVprogram.Entities/Models/Admin.cs
TVprogram.Entities/Models/BaseEntity.cs
TVprogram.Entities/Models/Channel.cs
TVprogram.Entities/Models/Programa.cs
TVprogram.Entities/Models/User.cs
TVprogram.Entities/Models/Users_Channel_list.cs
TVprogram.Entities/Context.cs
TVprogram.Entities/TVprogram.Entities.csproj
TVprogram.Entities/Models/Admin.cs
TVprogram.Entities/Models/BaseEntity.cs
TVprogram.Entities/Models/Channel.cs
TVprogram.Entities/Models/Programa.cs
TVprogram.Entities/Models/User.cs
TVprogram.Entities/Models/Users_Channel_list.cs
TVprogram.Entities/obj/TVprogram.Entities.csproj.nuget.dgspec.json
TVprogram.Entities/obj/Debug/net6.0/project.razor.json
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.AssemblyInfoInputs.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.csproj.CoreCompileInputs.cache
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.csproj.FileListAbsolute.txt
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.GeneratedMSBuildEditorConfig.editorconfig
TVprogram.Entities/obj/Debug/net6.0/TVprogram.Entities.GlobalUsings.g.cs
TVprogram.Entity/bin/Debug/net6.0/TVprogram.Entity.dll
TVprogram.Entity/bin/Debug/net6.0/TVprogram.Entity.pdb
**/.vs 
**/obj
**/bin
**/logs
TVprogram.Entity/bin/Debug/net6.0/TVprogram.Entity.dll
TVprogram.Entity/bin/Debug/net6.0/TVprogram.Entity.pdb
